<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" /><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" /><p>
<label for="tema">Tema</label>
<select name="quiz[tema]">
  <%
  var selected = '';
  [
    {"value": "Seleccione", "text": "Seleccione..."},
    {"value": "Otro", "text": "Otro"},
    {"value": "Humanidades", "text": "Humanidades"},
    {"value": "Ocio", "text": "Ocio"},
    {"value": "Ciencia", "text": "Ciencia"},
    {"value": "Tecnologia", "text": "Tecnología"},

  ].forEach(function(ot) {

      if(ot.value === quiz.tema){
        selected = 'selected';
      }else{
        selected = '';
      }

  %>
  <option value="<%= ot.value %>" <%= selected %> >  <%= ot.text %> </option>
  <% }); %>
</select>

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
