Estadísticas:<p>
<span>Número de preguntas: </span><%= stat.numPreg %><p>
<span>Número total de comentarios: </span><%= stat.numCom %><p>
<span>Número medio de comentarios por pregunta: </span><%= stat.numComPreg %><p>
<span>Número de preguntas sin comentarios: </span><%= stat.numPregSinCom %><p>
<span>Número de preguntas con comentarios: </span><%= stat.numPregConCom %><p>
